/* navigation */
#navbar {
    background-color: yellow;
    display: flex;
    justify-content: flex-end;
}
.nav {
    display: flex;
    /* justify-content: flex-end; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); */
}
.nav-list {
    display: flex;
    margin-right: 2rem;
    text-decoration: none;
}
/* @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
} */
/* unorderd list */
ul {
    list-style: none;
}
/* list items */
li {
    display: flex;
    padding: .5rem;
    align-items: stretch;
}
.nav-list a {
    display: flex;
    font-size: 2.2rem;
    text-decoration: none;
}
nav-list, a:hover{
    background-color: white;
}

/* welcom section */
.welcome-section {
    background-color: aqua;
}
.projects {
    background-color: yellow;
}
.contact {
    background-color: chartreuse;
}
