/*div's*/
body {
    background: rgb(230, 230, 230);
}

#container {
    width: 100%;
}

/*header div*/
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: rgb(230, 230, 230);
}

#header img {
    align-items: baseline;
    height: 4rem;
    width: 5rem;
    box-shadow: -2px 4px 9px 1px #ccc;
    margin-right: .8rem;
    margin-top: .9rem;
    border-radius: 10px;
}

#header p {
    padding-top: 1rem;
    font-family: monospace;
    font-size: 15pt;
}

/*Bio div*/
#bio {
    display: flex;
    margin-top: 5rem;
    width: 100%;
    background-color: rgb(230, 230, 230);
}

#bio-choose {
    width: 100%;
}

#bio img {
    display: flex;
    flex-direction: row;
    height: 11.3rem;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow: -2px 4px 9px 1px #ccc;
}

#name-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 20px;
    font-family: monospace;
}

.bio-p {
    margin-top: 0px;
}

#bio-list {
    background-color: lightslategray;
    border-radius: 5px;
}

#bio-list p {

    margin-left: .5rem;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: fantasy;
}

#bio-list ul {
    margin-top: .1rem;
    margin-left: .5rem;
    padding-left: 17px;
    height: 100%;
    font-family: fantasy;
}


/*Tech Div*/
#tech {
    display: flex;
    align-items: stretch;
    background-color: lightslategray;
    border-radius: 8px;
    margin-top: 5rem;
    width: 100%;

}

#logo {
    display: flex;
    background-color: lightslategray;
    border-radius: 8px;
    width: 100%;
}

figure > img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
}

figcaption {
    text-align: center;
    color: #ccc;
    margin-top: -20px;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    bottom: 1rem;
}

/*Interest Div*/
#interest {

    margin-top: 5rem;
    width: 100%;
    background-color: lightslategray;
    border-radius: 3px;
}

#i-text {
    border: 5px solid black;
    padding: .3rem;
}

.itext {
    font-family: monospace;
}

h3 {
    font-size: 2rem;
}

h1 {
    margin-left: .5rem;
}

/*footer*/
#footer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
}
