html {
    margin: 0;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}


/* unorderd list */

ul {
    list-style: none;
}


/* navigation */

#navbar {
    width: 100%;
    background-color: rgb(134, 93, 134);
    display: flex;
    position: fixed;
    justify-content: flex-end;
    box-shadow: 0px 5px 5px black;
}

.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-list {
    display: flex;
    margin-right: 2rem;
    text-decoration: none;
    margin-right: 2rem;
    padding: .5rem;
}

.nav-list a {
    display: block;
    font-size: 2.5rem;
    text-decoration: none;
    color: chartreuse;
}

.nav-list a:hover {
    background-color: white;
}

.nav-list li {
    padding: .5rem;
    font-family: 'lacquer', sans-serif;
    background-color: rgb(134, 93, 134);
}


/* welcom section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: coral;
}

#bolt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-shadow: 2px 2px 1px black;
    font-family: 'Permanent Marker', cursive;
    color: chartreuse;
    margin-top: -36rem;
    margin-left: 5rem;
    font-size: 25px;
}

#bolt,
h1 {
    display: flex;
    justify-content: center;
    margin-right: 5rem;
}

#boltfig {
    margin-top: -10rem;
}


/* skills */

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: coral;
}


/* projects */

.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: coral;
}

.project-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
}

.project-tile a {
    text-decoration: none;
}

.procap {
    text-shadow: 1px 1px 1px black;
    font-family: 'lacquer', sans-serif;
    font-size: 20px;
    color: chartreuse;
    background-color: rgb(134, 93, 134);
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: -.5rem;
}

.section-h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 33.3%;
    margin-right: 33.3%;
    margin-bottom: -2rem;
    border: dotted 4px chartreuse;
    text-shadow: 2px 2px 1px black;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: chartreuse;
}


/* contacts page */

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: coral;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Permanent Marker', cursive;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
}

.icon,
i {
    font-size: 3rem;
    margin: 1.9rem;
    text-shadow: 2px 2px 1px black;
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
}

span {
    font-family: 'Permanent Marker', cursive;
}

#contacth1 {
    display: flex;
    flex-direction: row;
    margin-right: 33.3%;
    margin-left: 33.3%;
    text-shadow: 1px 1px 1px black;
    font-family: 'lacquer', sans-serif;
    color: black;
    font-size: 5rem;
}


/* footer */

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 1rem;
    font-size: .5rem;
    font-family: 'lacquer', sans-serif;
    background-color: rgb(134, 93, 134);
    color: chartreuse;
}


/* Media ish */


/* 1200px / 16px = 75em */

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}


/* 980px / 16px = 61.25em */

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}


/* 460px / 16px = 28.75em */

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}